doctype html
html
  head
    title= title
    meta(name='viewport',content='initial-scale=1,maximum-scale=1,user-scalable=no')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/mapbox-gl.js')
    link(rel='stylesheet', href='/css/mapbox-gl.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block content
